*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#mainwrapper header {
	/*Header */
	background-color: lightseagreen;
	overflow: auto;
	font-family: monospace;
	font-weight: 700;
	display: flex;
	font-size: 18px;

}
#mainwrapper header #logo {
	/* Company Logo text */
	width: 50%;
	float: left;
	padding: 12px 2%;
	color: rgba(146,146,146,1.00);
	display: flex;
	align-items: center;
}

#mainwrapper header #logo img{
	display: flex;
	justify-content: space-between;
	border-radius: 100%;
	align-items: center;
	margin-right: 12px;
}


#mainwrapper header #logo a{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
}
#mainwrapper header nav {
	/*Nav bar containing links in header */
	text-align: right;
	padding: 12px 2%;
	width: 40%;
	float: left;
	color: black;
	margin: auto;
}
header nav a {
	/* Links in header */
	padding-right: 25px;
	color: black;
	text-decoration: none;
	transition: 0.4s ease;
}

nav a:hover{
	color: yellow;
}.side-con {
	color: #999;
}
.side-con td {
	color: #CCC;
}
.side-con {
	color: #999;
}
 td {
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
}

.login-all{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-group{
	border: 1px black solid;
	border-radius: 10px;
	box-shadow: 10px 10px 5px lightcoral;
	width: 400px;
	text-align: center;
	padding: 15px;
	background-color: white;
}

.login-group h2{
	margin-bottom: 30px;
	font-size: 30	px;
}

.login-form{
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

.login-form label{
	text-align: left;
	font-size: 20px;
	margin-bottom: 15px;
}

.box{
	padding: 8px;
	margin-bottom: 15px;
	background-color: #f1f1f1;
	border-radius: 80px;
}

.btn{
	margin: 10px;
	border-radius: 80px;
	border: none;
	width: 20%;
	height: 30px;
	color: black;
	background-color: limegreen;
	transition: 0.4s ease;
}
.btn:hover{
	background-color: green;
}

.searchbar{
	height: 40px;
	border-radius: 80px;	
	margin-top: 20px;
}

placeholder{
	margin-left: 35px;
}


table{
	border-collapse: collapse;

}
.sport tr{
	vertical-align: top;
	border-spacing: 0;
}


td, th{
	vertical-align: top;
	padding-left: 25px;
}

.sport  th{
	color: black;
	text-align: left;
	width: 100%;
	background-color: lightseagreen;
	display: flex;
	align-items: center;

}
.sport  td{
	color: black;
	transition: 0.4s ease;
	background-color: #f1f1f1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}


.sport  td a{
	text-decoration: none;
	color: black;
}
.sport td:hover{
	background-color: skyblue;
}

.login-allin{
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-groupin{
	border: 1px black solid;
	border-radius: 10px;
	width: 400px;
	text-align: center;
	padding: 5px;
	background-color: white;
}

.login-groupin h2{
	margin-bottom: 10px;
	color: black;
	font-size: 30px;
}

.login-formin{
	display: flex;
	flex-direction: column;
	padding-bottom: 5px;
}

.login-formin label{
	text-align: left;
	font-size: 20px;
	margin-bottom: 10px;
}

.box{
	padding: 8px;
	margin-bottom: 15px;
	background-color: #f1f1f1;
	border-radius: 80px;
	width: 80%;
}

.btnin{
	margin: 5px;
	border-radius: 80px;
	border: none;
	width: 20%;
	height: 30px;
	color: black;
	background-color: lime;
	transition: 0.4s ease;
}
.btnin:hover{
	background-color: green;
}
.container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.color{
	justify-content: left;
}

.color  th{
	color: black;
	text-align: left;
	width: 100%;
	background-color: lightseagreen;
	display: flex;
	align-items: center;

}
.color  td{
	color: black;
	transition: 0.4s ease;
	background-color: #f1f1f1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}


.color  td a{
	text-decoration: none;
	color: black;
}
.color td:hover{
	background-color: skyblue;
}
